PLATFORM="KokomiAPI-00"

MYSQL_HOST="localhost"
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=""
MYSQL_USER=""
MYSQL_PASSWORD=""
MYSQL_DATABASE="wows_main"

REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_PASSWORD=""
REDIS_DATABASE=0
REDIS_PROTOCOL=0